
.headerflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.logoDiv h1 {
    color: #010101;
    font-style: normal;
}
.logoDiv{
 display: flex;
 flex-direction: row;
 gap: 30px;
 width: 200px;
    
}

.logo img {
    width: 20px;
    height:auto;
   
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navLink {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navLink:hover {
    color: #007BFF;
}

/* Responsive Styles */
@media (max-width: 768px) {
    ul {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .logoDiv h1 {
        font-size: 20px;
    }

    .navLink {
        font-size: 16px;
    }
}
